.flex-container {
  display: flex;
}

.header {
  justify-content: space-around;
  background-color: #721825;
  height: 100px;
}

.form {
  flex-direction: column;
  align-items: center;
}

.links {
  color: #D8D0C5;
  padding-top: 30px;
  font-size: 20px;
}

.dashboard {
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.product {
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
